@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --background: rgba(245, 245, 245, 1);
  --field-color-darker: rgba(234, 234, 234, 1);
  --link: rgba(52, 107, 212, 1);
  --secondary-text: rgba(133, 133, 133, 1);
}

.background-image {
    background-image: url("data:image/svg+xml,%3Csvg width='720' height='1024' viewBox='0 0 720 1024' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L719.988 0L569.314 1024H0V0Z' fill='url(%23paint0_linear_0_147)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_0_147' x1='359.994' y1='0' x2='359.994' y2='1024' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234285F4'/%3E%3Cstop offset='1' stop-color='%23286DE0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    /* ... other styles ... */
  }